<!--Begin::Section-->
<div class="row">
  <div class="col-md-12">
    <!--begin::Portlet-->
    <div class="m-portlet m-portlet--tab">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
              </span>
            <h3 class="m-portlet__head-text">
              Create Product Type
            </h3>
          </div>
        </div>
      </div>
      <!--begin::Form-->
      <form role="form" [formGroup]="form" (ngSubmit)="saveProductType()" class="m-form m-form--fit m-form--label-align-right">
        <div class="m-portlet__body">
          <div class="form-group m-form__group">
            <label for="Code">
                Code
              </label>
            <input type="text" class="form-control m-input" formControlName="Code" placeholder="Enter Code">
          </div>
          <div class="form-group m-form__group">
            <label for="Name">
                Name
              </label>
            <input type="text" class="form-control m-input" formControlName="Name" placeholder="Enter Name">
          </div>
          <div class="form-group m-form__group">
            <label for="Description">
                Description
              </label>
            <textarea class="form-control m-input" formControlName="Description" rows="3"></textarea>
          </div>
          <div class="m-form__group form-group">
            <label class="m-checkbox">
                <input type="checkbox" checked="checked" formControlName="delFlag"> Delete
                <span></span>
              </label>
          </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
          <div class="m-form__actions">
            <button type="submit" [disabled]="form.invalid" class="btn btn-primary">
                Save
              </button>
            <button type="reset" class="btn btn-secondary">
                Cancel
              </button>
          </div>
        </div>
      </form>
      <!--end::Form-->
    </div>
    <!--end::Portlet-->
  </div>
</div>
<!--End::Section-->