<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Create Package
      </h3>
    </div>
  </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
  <!--Begin::Section-->
  <div class="row">
    <div class="col-md-12">
      <!--begin::Portlet-->
      <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="m-portlet__head-text">
                Create Package
              </h3>
            </div>
          </div>
        </div>
        <!--begin::Form-->
        <form role="form" [formGroup]="form" (ngSubmit)="savePackage()" class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group">
              <label for="Name">
                Name
              </label>
              <input type="text" class="form-control m-input" formControlName="Name" placeholder="Enter name">
            </div>
            <div class="form-group m-form__group">
              <label for="Price">
                Price
              </label>
              <input type="text" class="form-control m-input" formControlName="Price" placeholder="Price">
            </div>
            <div class="form-group m-form__group">
              <label for="ThemeId">
                Theme Id
              </label>
              <input type="text" class="form-control m-input" formControlName="ThemeId" placeholder="Theme Id">
            </div>
            <div class="form-group m-form__group">
              <label for="Description">
                Description
              </label>
              <textarea class="form-control m-input" formControlName="Description" rows="3"></textarea>
            </div>
            <div class="m-form__group form-group">
              <label class="m-checkbox">
                <input type="checkbox" checked="checked" formControlName="delFlag"> Delete
                <span></span>
              </label>
            </div>
          </div>
          <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions">
              <button type="submit" [disabled]="form.invalid" class="btn btn-primary">
                Save
              </button>
              <button type="reset" class="btn btn-secondary">
                Cancel
              </button>
            </div>
          </div>
        </form>
        <!--end::Form-->
      </div>
      <!--end::Portlet-->
    </div>
  </div>
  <!--End::Section-->
</div>