<div class="m-portlet m-portlet--tab">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Customer Details
        </h3>
      </div>
    </div>
    <div class="m-portlet__head-tools">
      <ul class="m-portlet__nav">
        <li class="m-portlet__nav-item">
          <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover"
            aria-expanded="true">
            <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
              <i class="la la-ellipsis-h m--font-brand"></i>
            </a>
            <div class="m-dropdown__wrapper">
              <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
              <div class="m-dropdown__inner">
                <div class="m-dropdown__body">
                  <div class="m-dropdown__content">
                    <ul class="m-nav">
                      <li class="m-nav__section m-nav__section--first">
                        <span class="m-nav__section-text">Quick Actions</span>
                      </li>
                      <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                <i class="m-nav__link-icon flaticon-share"></i>
                <span class="m-nav__link-text">Create Post</span>
                </a>
                      </li>
                      <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                <i class="m-nav__link-icon flaticon-chat-1"></i>
                <span class="m-nav__link-text">Send Messages</span>
                </a>
                      </li>
                      <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                <i class="m-nav__link-icon flaticon-multimedia-2"></i>
                <span class="m-nav__link-text">Upload File</span>
                </a>
                      </li>
                      <li class="m-nav__section">
                        <span class="m-nav__section-text">Useful Links</span>
                      </li>
                      <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                <i class="m-nav__link-icon flaticon-info"></i>
                <span class="m-nav__link-text">FAQ</span>
                </a>
                      </li>
                      <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                <span class="m-nav__link-text">Support</span>
                </a>
                      </li>
                      <li class="m-nav__separator m-nav__separator--fit m--hide">
                      </li>
                      <li class="m-nav__item m--hide">
                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">Submit</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-portlet__body">
    <!--begin::Form-->
    <form role="form" [formGroup]="form" (ngSubmit)="saveCustomer()" class="m-form m-form--fit m-form--label-align-right">
        <div class="m-portlet__body">
          <div class="form-group m-form__group row">
            <div class="col-md-8">
              <div class="form-group m-form__group row">
                <div class="col-10 ml-auto">
                    <h3 class="m-form__section">
                        1. Personal Details
                    </h3>
                </div>
              </div>
              <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                      Full Name
                  </label>
                  <div class="col-7">
                      <input class="form-control m-input" type="text" formControlName="Fullname">
                  </div>
              </div>
              <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                      Gender
                  </label>
                  <div class="col-7">
                      <input class="form-control m-input" type="text" formControlName="Gender">
                  </div>
              </div>
              <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                      Phone No.
                  </label>
                  <div class="col-7">
                      <input class="form-control m-input" type="text" formControlName="Phone">
                  </div>
              </div>
              <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                      Email Address.
                  </label>
                  <div class="col-7">
                      <input class="form-control m-input" type="text" value="mark.andre@gmail.com" formControlName="Email">
                  </div>
              </div>
              <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-2 col-form-label">
                    Address
                </label>
                <div class="col-7">
                    <input class="form-control m-input" type="text" value="L-12-20 Vertex, Cybersquare" formControlName="Address">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group m-form__group">
                <img id="package_image" [src]="this.form.controls['ImgName'].value" onerror="this.src='../../../../assets/images/file.png';">
              </div>
              <div class="form-group m-form__group">
                <div id="dropzone" [ngClass]="{'file-over': hasBaseDropZoneOver}" ng2FileDrop [uploader]="uploader" (click)="fileInput.click()">
                  <p id="upload_txt" *ngIf="uploader?.queue?.length == 0">
                    <span id="upload_txt_drop">Drop File</span>
                    <small>(or click)</small> to Upload the Avatar</p>
                  <div class="fileItem" *ngFor="let item of uploader.queue" (click)="preventEvent($event)">
                    <div class="itemImage">
                      <button type="button" class="remove" (click)="preventEvent($event, item)">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <img src="" class="img-center" src="../../../../assets/images/file_img.jpg" />
                    </div>
                    <div class="itemName">
                      <p style="font-size: 13px; text-align: center;">{{ item?.file?.name }}</p>
                    </div>
                  </div>
                  <input type="file" #fileInput ng2FileSelect [uploader]="uploader" style="display: none" />
                </div>
              </div>

              <div class="form-group m-form__group">
                <button type="button" class="btn btn-primary">
                  Upload
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
          <div class="m-form__actions">
            <button type="submit" [disabled]="form.invalid" class="btn btn-primary">
              Save
            </button>
            <button type="reset" class="btn btn-secondary">
              Cancel
            </button>
          </div>
        </div>
      </form>
      <!--end::Form-->
  </div>
</div>
